/* CSS-Styling für die Tableau Grid Metabox */

#portfolio_images_container .portfolio_image img {
  max-width: 300px !important;
  height: auto !important;
}



.tableau-grid-container {
  display: flex;
}

.tableau-grid-column {
  flex: 1;
  min-height: 200px;
  border: 1px solid #000;
  margin: 5px;
}
.tableau-grid-container {
  position: relative;
}

#T_image_list img {
  max-width: 100%; /* Stellen Sie sicher, dass das Bild nicht breiter ist als der Container */
  position: relative; /* Dies könnte notwendig sein, wenn Sie das Bild innerhalb des Containers positionieren wollen */
}
#column1 img, #column2 img, #column3 img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
  border: 1px solid #000;
  margin: 5px;
}

.TG-image.ui-sortable-helper {
  opacity: 0.5;
  border: 1px dashed #333;
}

.TG-images-list {
  display: flex !important;
  flex-wrap: wrap !important; /* Erlaubt das Umbruch des Inhalts auf die nächste Zeile, wenn nicht genug Platz vorhanden ist */
  gap: 10px !important;  /* Abstand zwischen den Bildern */
}

.TG-image {
  flex: 1 !important;  /* Erlaubt den Bildern, flexibel zu sein, aber alle nehmen den gleichen Raum ein */
  max-width: 300px !important; /* Maximale Breite, die ein Bild einnehmen kann */
}



/* Nur im WordPress-Backend sichtbar */
body.wp-admin .post-thumbnail {
  float: right; /* Das Bild seitlich anzeigen */
  width: 150px; /* Oder die gewünschte Breite */
}



            .sp-tableau-images img {
                max-width: 450px;
                width: auto;
                height: auto;
            }
